/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@import url('./reset.css');
@import url('./start-page.css');
@import url('./registration-page.css');
@import url('./login-page.css');

:root {
  font-family: 'Poppins', sans-serif, 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 147px;
    padding-right: 148px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    padding-left: 483px;
    padding-right: 484px;
  }
}
